body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgb(223, 175, 116);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Fondo con opacidad SIN afectar el texto */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("IMAGENES/logocolor.png");
  background-size: 400px;
  background-repeat: repeat;
  opacity: 0.50;
  z-index: -1;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.Subtema {
  color: rgb(53, 50, 50);
  font-size: 30px;
}

/* FORMULARIO */
.formulario {
  margin-top: 30px;
}

input {
  padding: 12px;
  width: 80%;
  max-width: 300px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  margin-top: 15px;
  border: none;
  background: rgb(255,255,255);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

#resultado {
  margin-top: 25px;
  font-size: 30px;
  font-weight: bold;
  white-space: pre-line;
  color: #2c2c2c;
}