body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgb(192, 140, 76);
}
h1 {
  color: khaki;
}

.logo {
  width: 150px;
  height: auto;
  margin-top: 20px;
}